In [ ]:
import pandas as pd
# librería para aprendizaje automático | Submódulo algoritmos de agrupamiento (clustering).
from sklearn.cluster import KMeans
#  preparar o escalar datos antes de entrenar modelos | convierte los datos a escala estándar
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [7]:
#  leer el archivo de datos, convertirlo en un DataFrame de Pandas y asignar nombres a las columnas
df = pd.read_csv('iris/iris.data', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])

In [8]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
# Defino la lista de nombres de columnas
# y convierto las columnas de características a tipo float las cuatro variables de medición (todos los elementos menos el último)
col_names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
df[col_names[:-1]] = df[col_names[:-1]].astype(float)

In [11]:
# Estandarizar las características
Standardscaler = StandardScaler()

In [12]:
#Selecciona todas las filas y columnas menos la última (que es 'species')
#Transforma los datos para que tengan media 0 y desviación estándar 1 para cada característica (columna)
x_scaled = Standardscaler.fit_transform(df.iloc[:, :-1])

In [13]:
Kmeans = KMeans(n_clusters=3, random_state=42 ) # Definir el número de clusters y generador de números aleatorios. 
# Asigna a cada fila del DataFrame el clúster al que pertenece | entrenando y clasificando al mismo tiempo
df['cluster'] = Kmeans.fit_predict(x_scaled)

In [14]:
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species  cluster
0           5.1          3.5           1.4          0.2  Iris-setosa        1
1           4.9          3.0           1.4          0.2  Iris-setosa        2
2           4.7          3.2           1.3          0.2  Iris-setosa        2
3           4.6          3.1           1.5          0.2  Iris-setosa        2
4           5.0          3.6           1.4          0.2  Iris-setosa        1

In [15]:
#Las columnas representan [ sepal_length, sepal_width, petal_length, petal_width ]
# Las filas representan los clusters asignados por KMeans
print(Kmeans.cluster_centers_)

[[ 0.57100359 -0.36600236  0.69108416  0.66322635]
 [-0.80601877  1.33577362 -1.28618375 -1.21026347]
 [-1.31926109 -0.34584225 -1.14482725 -1.1336954 ]]

In [ ]:
plt.scatter(df["sepal_length"], df["sepal_width"], c=df["cluster"])